<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Railway | Booking</title>
    <link rel="stylesheet" type="text/css" href="1.css">
</head>
<body>
<div id="plane_search" class="flight_booking_tab">
    <!-- tab_search form start -->
    <form>
        <div class="flight_booking_inner">
            <div class="pull_left location_airport">
                <label>from</label>
                <input type="text" placeholder="Enter City or Airport Code">
            </div>
            <div class="pull_left check_in_field"><label>Depart</label>
                <input type="text" id="Check_in_date_tab_flight" placeholder="dd/mm/yyyy">
                <i class="fa fa-calendar"></i>
            </div>
            <div class="pull_left timing_field">
                <label>Depart</label>
                <input type="text" name="timing" class="timing" placeholder="Night">
            </div>
            <div class="pull_left room_select_field">
                <label>adults</label>
                <select class="form-control" id="search_adult2">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                </select>
                <i class="fa fa-caret-down"></i>
            </div>
            <div class="pull_left room_adults">
                <label>adults</label>
                <select class="form-control" id="search_adults2">
                    <option value="1">Economy Class</option>
                    <option value="2">first Class</option>
                </select>
                <i class="fa fa-caret-down"></i>
            </div>
        </div>
        <!-- flight_booking_inner end -->
        <div class="flight_booking_inner">
            <div class="pull_left location_airport"><label>to</label> <input type="text"
                                                                             placeholder="Enter City or Airport Code">
            </div>
            <div class="pull_left check_in_field"><label>return</label> <input type="text"
                                                                               id="Check_out_date_tab_flight"
                                                                               placeholder="dd/mm/yyyy">
                <i class="fa fa-calendar"></i></div>
            <div class="pull_left timing_field"><label>timing</label> <input type="text"
                                                                             name="timing"
                                                                             class="timing"
                                                                             placeholder="Morning">
            </div>
            <div class="pull_left room_select_field">
                <label>kids</label>
                <select class="form-control" id="search_kids_2">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                </select>
                <i class="fa fa-caret-down"></i>
            </div>
            <div class="pull_left submit_field"><input type="text" placeholder="SEARCH"
                                                       class="search_tabs">
                <button class="btn tab_search" type="submit"><i
                        class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        <!-- flight_booking_inner end -->
    </form>
    <!-- tab_search form End -->
    <!-- tab_search form End -->
</div>
</body>
</html>