{% load static %}
<!DOCTYPE html>
<html>

{% include 'Head.html' %}

<body>
<!--Page main section start-->
<div id="travel_wrapper">
    <!--Header start-->
    {% include 'Header.html' %}
    <!--Header end-->
    <!--content body start-->
    <div id="content_wrapper">
        <!--page title start-->
        <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0"
             style="background-image:url(https://images.picxy.com/cache/2021/5/28/2b8009eb18832c0d7f370e6453701007.webp);">
            <ul>
                <li><a href="javascript:;">coming soon </a></li>
            </ul>
        </div>
        <!--page title end-->
        <div class="clearfix"></div>
        <!-- 404 error page bg start -->
        <div class="full_width Travelite_coming_soon_wrapper">
            <div class="container">
                <div class="row">
                    <div class="main_coming_soon">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="left_image_coming_soon">
                                <img src="{% static 'images/logo2.png' %}">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 right_side_coming_soon">
{#                            <div class="comming_soon_logo">#}
{#                                <a href="{% url 'index-page' %}"><img src="{% static 'images/logo2.png' %}"#}
{#                                                                      alt="footer logo"/></a>#}
{#                            </div>#}
                            <div class="coming_soon_heading">
                                <h2>Offers are coming sooon....!</h2>
                                <p>We are updating some terms and policy to give you the best & affordable offer</p>
                            </div>
                            <div id="counter_comming_soon" data-countdown='{{ comingSoon }}'></div>
                            <div class="full_width newsletter_wrapper_main">
                                <form>
                                    <p>Please sign-up for our newsletter</p>
                                    <div class="email_newsletter">
                                        <input type="email" placeholder="Your Email Id" class="news_email">
                                        <input type="submit" value="SEND" id="news_send">
                                    </div>
                                    <div class="coming_social_icons">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 404 error page bg end -->
        <!-- counter section End -->
    </div>
    <!--content body end-->
    <!--footer start-->
    {% include 'footer.html' %}
    <!--footer end-->
</div>
<!--Page main section end-->
<!--main js file start-->
{% include 'scripts.html' %}
<!--main js file end-->
</div>
</body>
</html>