{% load static %}
<!DOCTYPE html>
<html>

{% include 'Head.html' %}

<body>
<!--Page main section start-->
<div id="travel_wrapper">
    <!--Header start-->
    {% include 'Header.html' %}
    <!--Header end-->

    <!--content body start-->
    <div id="content_wrapper">
        <!--page title start-->
        <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0"
             style="background-image:url(https://images.pexels.com/photos/302428/pexels-photo-302428.jpeg?crop=entropy&cs=srgb&dl=pexels-pixabay-302428.jpg&fit=crop&fm=jpg&h=644&w=1599);">
            <ul>
                <li><a href="javascript:;">contact us</a></li>
            </ul>
        </div>
        <!--page title end-->
        <div class="clearfix"></div>

        <!-- contact map section start -->
        <div class="full_width tr_contact_map_section">

            <div class="map_main">
                <div id="bigth_googleMap"></div>

            </div>

        </div>
        <!-- contact map section End -->

        <!-- contact details section start -->
        <div class="full_width tr_contact_detais_section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="conatact_form_ds">
                            <form>
                                <input type="text" name="name" placeholder="Name" class="input_c" required="required">
                                <input type="email" name="email" placeholder="Email" class="input_c"
                                       required="required">
                                <input type="text" name="phone" placeholder="Phone" class="input_c" required="required">
                                <textarea class="text_area_c" placeholder="Message" name="msgs"></textarea>
                                <input type="submit" value="Send" class="btn_green" id="form_submit">
                            </form>

                        </div>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-7 col-sm-8 col-lg-offset-2">
                                <div class="address_contact_details">
                                    <div class="address_detais_city">
                                        Dhaka:
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-map-marker"></i> 1234, Kamalapur, Dhaka.</li>
                                        <li><i class="fa fa-envelope"></i> Info@rail.com</li>
                                        <li><i class="fa fa-phone"></i> +880-155-180-5248</li>
                                    </ul>
                                </div>

                                <div class="address_contact_details">
                                    <div class="address_detais_city">
                                        Chittagong:
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-map-marker"></i> 1234, Bijoy Saroni, Chittagong.</li>
                                        <li><i class="fa fa-envelope"></i> Info@rail.com</li>
                                        <li><i class="fa fa-phone"></i> +880-155-180-5248</li>
                                    </ul>
                                </div>

                                <div class="address_contact_details">
                                    <div class="address_detais_city">
                                        Rangpur:
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-map-marker"></i> 1234, Mirpur, Dhaka.</li>
                                        <li><i class="fa fa-envelope"></i> Info@eduGmail.com</li>
                                        <li><i class="fa fa-phone"></i> +880-155-180-5248</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-5 col-sm-4 t_align_c">
                                <!-- facebook squre start -->
                                <div class="social_box facebook_b_wrap">
                                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                                    <div class="social_likes">30000</div>
                                    <div class="shares_and_likes">shares & Likes</div>
                                </div>
                                <!-- facebook squre End -->

                                <!-- twitter squre start -->
                                <div class="social_box twitter_b_wrap">
                                    <a href="#"><i class="fa fa-twitter-square"></i></a>
                                    <div class="social_likes">9000</div>
                                    <div class="shares_and_likes">followers</div>
                                </div>
                                <!-- twitter squre End -->

                                <!-- RSS squre start -->
                                <div class="social_box rss_b_wrap">
                                    <a href="#"><i class="fa fa-rss-square"></i></a>
                                    <div class="social_likes">15000</div>
                                    <div class="shares_and_likes">subscribers</div>
                                </div>
                                <!-- RSS squre End -->

                                <!-- Linkedin squre start -->
                                <div class="social_box linkedin_b_wrap">
                                    <a href="#"><i class="fa fa-linkedin-square"></i></a>
                                    <div class="social_likes">3200</div>
                                    <div class="shares_and_likes">connections</div>
                                </div>
                                <!-- Linkedin squre End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- contact details section End -->

        <!-- contact section End -->

        <!-- counter section End -->

    </div>
    <!--content body end-->

    <!--footer start-->
    {% include 'footer.html' %}
    <!--footer end-->
</div>
<!--Page main section end-->
<!--main js file start-->
{% include 'scripts.html' %}
<!--main js file end-->
</div>
</body>
</html>