{% load static %}
<!DOCTYPE html>
<html>

{% include 'Head.html' %}

<body>
<!--Page main section start-->
<div id="travel_wrapper">
    <!--Header start-->
    {% include 'Header.html' %}
    <!--Header end-->
    <!--content body start-->
    <div id="content_wrapper">
        <!--page title Start-->
        <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0"
             style="background-image:url(http://placehold.it/1599x640);">
            <ul>
                <li><a href="javascript:;">Tour Destination</a></li>
            </ul>
        </div>
        <!--page title end-->
        <div class="clearfix"></div>
        <div class="full_width destinaion_sorting_section">
            <div class="container">
                <div class="row space_100">
                    <!-- left sidebar start -->
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="Travelite_left_sidebar_second">
                            <div class="sidebar_search_bar">
                                <form>
                                    <input type="search" placeholder="Search" id="sidebar_search">
                                </form>
                            </div>
                            <aside class="widget about_us_widget">
                                <h4 class="widget-title">about us</h4>
                                <div class="widgett text_widget">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the joy have
                                        suffered alteration in some format, by injected humour. There are many
                                        variations of passages by injected humour. There are many variations</p>
                                </div>
                            </aside>
                            <aside class="widget hotel_widgets_deals">
                                <h4 class="widget-title">hotel deals today</h4>
                                <div class="widgett">
                                    <ul>
                                        <li><img src="http://placehold.it/78x67" alt="hotel thumb">
                                            <div class="hotel_deals_details">
                                                <h4 class="more_text_widget">There are many variations of passanger
                                                    There are many variations of passanger
                                                    There are many variations of passanger</h4>
                                            </div>
                                        </li>
                                        <li><img src="http://placehold.it/78x67" alt="hotel thumb">
                                            <div class="hotel_deals_details">
                                                <h4 class="more_text_widget">There are many variations of passanger</h4>
                                            </div>
                                        </li>
                                        <li><img src="http://placehold.it/78x67" alt="hotel thumb">
                                            <div class="hotel_deals_details">
                                                <h4 class="more_text_widget">There are many variations of passanger</h4>
                                            </div>
                                        </li>
                                        <li><img src="http://placehold.it/78x67" alt="hotel thumb">
                                            <div class="hotel_deals_details">
                                                <h4 class="more_text_widget">There are many variations of passanger</h4>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                            <aside class="widget hotel_booking_widget">
                                <h4 class="widget-title">Need Help For Booking?</h4>
                                <div class="widgett text_widget">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the joy
                                        have </p>
                                    <h3><i class="fa fa-phone"></i>1-669-559-4378</h3>
                                    <h5>or</h5>
                                    <button type="submit" value="submit query" class="submit_query btn-yellow btns">
                                        submit query
                                    </button>
                                </div>
                            </aside>
                            <aside class="widget similar_pacakges">
                                <h4 class="widget-title">similar packages</h4>
                                <div class="widgett text_widget">
                                    <div class="image_holder">
                                        <img src="http://placehold.it/209x105" alt="package thumb">
                                        <h5><a href="#">thailand</a></h5>
                                        <h4>$830/<span>per person</span></h4>
                                    </div>
                                    <div class="image_holder">
                                        <img src="http://placehold.it/209x105" alt="package thumb">
                                        <h5><a href="#">dubai</a></h5>
                                        <h4>$750/<span>per person</span></h4>
                                    </div>
                                    <a href="#" class="submit_query btn-yellow btns">view more</a>
                                </div>
                            </aside>
                        </div>
                    </div>
                    <!-- left sidebar end -->
                    <!-- right main start -->
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <div class="tour_packages_right_section left_space_40">
                            <!--  flights_details_package_end -->
                            <div class="flight_package_details col-lg-6 col-md-6">
                                <div class="flight_grid_desc">
                                    <!-- title start -->
                                    <div class="bottom_title">
                                        <h5>malaysia</h5> <span class="flight_details">/ one way flight</span>
                                        <div class="right_span"><span class="doller">$150</span><br><span>/person</span>
                                        </div>
                                        <!-- review start -->
                                        <div class="bottom_review_rating">
                                            <div class="rating_bottom"><i class="fa fa-star"></i> <i
                                                    class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                    class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                            <span class="review_right"><i class="fa fa-thumbs-up"></i> 52 Reviews</span>
                                        </div>
                                        <!-- review End -->
                                    </div>
                                    <!-- title End -->
                                    <!-- flight schedule -->
                                    <div class="flight_details_schedule">
                                        <div class="take_off_landing">
                                            <h5>Take Off</h5>
                                            <p>20 Sep 2015 at 5.30am</p>
                                        </div>
                                        <div class="take_off_landing">
                                            <h5>Landing</h5>
                                            <p>22 Sep 2015 at 5.30am</p>
                                        </div>
                                    </div>
                                    <!-- flight schedule -->
                                    <div class="total_time_schedule">Total Time : 48 hours, 30 Minutes</div>
                                </div>
                            </div><!--  flights_details_package_end -->
                            <!-- slider start -->
                            <div class="package_details_slider">
                                <div id="package_details_slider" class="owl-carousel owl-theme">
                                    <div class="item"><img src="http://placehold.it/730x430" alt="slide"></div>
                                    <div class="item"><img src="http://placehold.it/730x430" alt="slide"></div>
                                    <div class="item"><img src="http://placehold.it/730x430" alt="slide"></div>
                                </div>
                            </div>
                            <!-- slider end -->
                            <!-- Booking area Start-->
                            <div class="booking_area_section">
                                <p>There are many variations of passages of Lorem Ipsum available, but the joy have
                                    suffered alteration in some format, by injected humour. There are many variations of
                                    passages of Lorem Ipsum available, but the joy have suffered alteration in some
                                    format, by injected humour. There are many variations of passages of Lorem Ipsum
                                    available, but the joy have suffered alteration in some format, by injected humour.
                                    There are many variations of passages of Lorem Ipsum available..</p>
                                <div class=" full_width booking_form_bg">
                                    <div class="main_content_form">
                                        <!-- tab_search form start -->
                                        <form>
                                            <div class="pullleft check_in_field">
                                                <label>available on</label>
                                                <input type="text" id="Check_out_date_tab" placeholder="dd/mm/yyyy">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="pullleft room_select_field">
                                                <label>adults</label>
                                                <select class="form-control selectpicker" data-live-search="true"
                                                        id="search_adults">
                                                    <option value="1">01</option>
                                                    <option value="2">02</option>
                                                    <option value="3">03</option>
                                                    <option value="4">04</option>
                                                </select>
                                                <i class="fa fa-caret-down"></i>
                                            </div>
                                            <div class="pullleft room_select_field">
                                                <label>kids</label>
                                                <select class="form-control selectpicker" data-live-search="true"
                                                        id="search_kids">
                                                    <option value="1">01</option>
                                                    <option value="2">02</option>
                                                    <option value="3">03</option>
                                                    <option value="4">04</option>
                                                </select>
                                                <i class="fa fa-caret-down"></i>
                                            </div>
                                            <div class="pullleft submit_field">
                                                <label>total:<span class="total_doller">$1000</span></label>
                                                <input type="submit" value="BOOK NOW" class="search_tabs">
                                                <button class="btn tab_search" type="submit"><i
                                                        class="glyphicon glyphicon-search"></i></button>
                                            </div>
                                        </form>
                                        <!-- tab_search form End -->
                                    </div>
                                </div>
                            </div>
                            <!-- Booking area End -->
                            <!-- package tabs start -->
                            <div class="full_width hotel_details_mdl_tab" id="Travelite_middle_tabs">
                                <div class="pcg_tabs_panel">
                                    <ul>
                                        <li><a href="#tab_search_1">More Infomation</a></li>
                                        <li><a href="#tab_search_2" class="">Show Map</a></li>
                                        <li><a href="#tab_search_3" class="">Review</a></li>
                                        <li><a href="#tab_search_4" class="">comments</a></li>
                                    </ul>
                                </div>
                                <!--  tab content start -->
                                <div id="tab_search_1" class="tab_details_part hotel_details_tab">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the joy have
                                        suffered alteration in some format, by injected humour. There are many
                                        variations of passages of Lorem Ipsum available, but the joy have suffered
                                        alteration in some format, by injected humour. There are many variations of
                                        passages of Lorem Ipsum available, but the joy have suffered alteration in some
                                        format, by injected humour. There are many variations of passages of Lorem
                                        Ipsum.
                                    </p>
                                    <div class="inner_content">
                                        <div class="inner_title">Airline Details</div>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the joy
                                            have suffered alteration in some format, by injected humour. There are many
                                            variations of passages of Lorem Ipsum available, but the joy have suffered
                                            alteration in some format, by injected humour.
                                        </p>
                                        <div class="hotel_airlines_list">
                                            <div class="airline_detail_list">
                                                <ul>
                                                    <li>
                                                        <span>Airline</span><span>-</span><span>Emirates</span>
                                                    </li>
                                                    <li>
                                                        <span>Flight type</span><span>-</span><span>Economy</span>
                                                    </li>
                                                    <li>
                                                        <span>Fare type</span><span>-</span><span>Refundable</span>
                                                    </li>
                                                    <li>
                                                        <span>Cancellation</span><span>-</span><span>$50/Person</span>
                                                    </li>
                                                    <li>
                                                        <span>Flight Change</span><span>-</span><span>$25/Person</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="airline_detail_list">
                                                <ul>
                                                    <li>
                                                        <span>Baggage</span><span>-</span><span>Extra charge</span>
                                                    </li>
                                                    <li>
                                                        <span>Inflightfeature</span><span>-</span><span>Available</span>
                                                    </li>
                                                    <li>
                                                        <span>Base fare</span><span>-</span><span>$250</span>
                                                    </li>
                                                    <li>
                                                        <span>Tax & Fees</span><span>-</span><span>$500</span>
                                                    </li>
                                                    <li>
                                                        <span>Total Price</span><span>-</span><span>$750</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inner_content">
                                        <div class="inner_title">Inflight Features</div>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the joy
                                            have suffered alteration in some format, by injected humour. There are many
                                            variations of passages of Lorem Ipsum available, but the joy have suffered
                                            alteration in some format, by injected humour.
                                        </p>
                                        <div class="hotel_facility_list">
                                            <ul>
                                                <li><i class="fa fa-wifi"></i>Wi-Fi</li>
                                                <li><i class="fa fa-glass"></i>Drink</li>
                                                <li><i class="fa fa-shopping-cart"></i>Shopping</li>
                                                <li><i class="fa fa-music"></i>Entertainment</li>
                                                <li><i class="fa fa-gamepad"></i>Games</li>
                                                <li><i class="fa fa-cutlery"></i>Food</li>
                                                <li><i class="fa fa-television"></i>Television</li>
                                                <li><i class="fa fa-coffee"></i>Coffee</li>
                                                <li><i class="fa fa-home"></i>Comfort</li>
                                                <li><i class="fa fa-asterisk"></i>Air Conditioning</li>
                                                <li><i class="fa icon-beer"></i>Wines</li>
                                                <li><i class="fa fa-picture-o"></i>Magazines</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--  tab content End -->
                                <!--  tab content start -->
                                <div id="tab_search_2" class="tab_details_part hotel_details_tab">
                                    <div class="inner_content">
                                        <div class="inner_title">Inflight Features</div>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the joy
                                            have suffered alteration in some format, by injected humour. There are many
                                            variations of passages of Lorem Ipsum available, but the joy have suffered
                                            alteration in some format, by injected humour.
                                        </p>
                                        <div class="hotel_facility_list">
                                            <ul>
                                                <li><i class="fa fa-wifi"></i>Wi-Fi</li>
                                                <li><i class="fa fa-glass"></i>Drink</li>
                                                <li><i class="fa fa-shopping-cart"></i>Shopping</li>
                                                <li><i class="fa fa-music"></i>Entertainment</li>
                                                <li><i class="fa fa-gamepad"></i>Games</li>
                                                <li><i class="fa fa-cutlery"></i>Food</li>
                                                <li><i class="fa fa-television"></i>Television</li>
                                                <li><i class="fa fa-coffee"></i>Coffee</li>
                                                <li><i class="fa fa-home"></i>Comfort</li>
                                                <li><i class="fa fa-asterisk"></i>Air Conditioning</li>
                                                <li><i class="fa icon-beer"></i>Wines</li>
                                                <li><i class="fa fa-picture-o"></i>Magazines</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <!--  tab content End -->
                                <!--  tab content start -->
                                <div id="tab_search_3" class="tab_details_part hotel_details_tab">
                                    <div class="inner_content">
                                        <div class="inner_title">Inflight Features</div>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the joy
                                            have suffered alteration in some format, by injected humour. There are many
                                            variations of passages of Lorem Ipsum available, but the joy have suffered
                                            alteration in some format, by injected humour.
                                        </p>
                                        <div class="hotel_facility_list">
                                            <ul>
                                                <li><i class="fa fa-wifi"></i>Wi-Fi</li>
                                                <li><i class="fa fa-glass"></i>Drink</li>
                                                <li><i class="fa fa-shopping-cart"></i>Shopping</li>
                                                <li><i class="fa fa-music"></i>Entertainment</li>
                                                <li><i class="fa fa-gamepad"></i>Games</li>
                                                <li><i class="fa fa-cutlery"></i>Food</li>
                                                <li><i class="fa fa-television"></i>Television</li>
                                                <li><i class="fa fa-coffee"></i>Coffee</li>
                                                <li><i class="fa fa-home"></i>Comfort</li>
                                                <li><i class="fa fa-asterisk"></i>Air Conditioning</li>
                                                <li><i class="fa icon-beer"></i>Wines</li>
                                                <li><i class="fa fa-picture-o"></i>Magazines</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--  tab content End -->
                                <!--  tab content start -->
                                <div id="tab_search_4" class="tab_details_part hotel_details_tab">
                                    <div class="inner_content">
                                        <div class="inner_title">Inflight Features</div>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the joy
                                            have suffered alteration in some format, by injected humour. There are many
                                            variations of passages of Lorem Ipsum available, but the joy have suffered
                                            alteration in some format, by injected humour.
                                        </p>
                                        <div class="hotel_facility_list">
                                            <ul>
                                                <li><i class="fa fa-wifi"></i>Wi-Fi</li>
                                                <li><i class="fa fa-glass"></i>Drink</li>
                                                <li><i class="fa fa-shopping-cart"></i>Shopping</li>
                                                <li><i class="fa fa-music"></i>Entertainment</li>
                                                <li><i class="fa fa-gamepad"></i>Games</li>
                                                <li><i class="fa fa-cutlery"></i>Food</li>
                                                <li><i class="fa fa-television"></i>Television</li>
                                                <li><i class="fa fa-coffee"></i>Coffee</li>
                                                <li><i class="fa fa-home"></i>Comfort</li>
                                                <li><i class="fa fa-asterisk"></i>Air Conditioning</li>
                                                <li><i class="fa icon-beer"></i>Wines</li>
                                                <li><i class="fa fa-picture-o"></i>Magazines</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--  tab content End -->
                            </div><!-- package tabs End -->
                        </div><!-- right main start -->
                    </div> <!-- col-lg-9-end -->
                </div><!--  row main -->
            </div> <!-- container -->
        </div> <!-- main wrapper -->
        <!--content body end-->
        <!--footer start-->
        {% include 'footer.html' %}
        <!--footer end-->
    </div>
    <!--Page main section end-->
    <!--main js file start-->
    {% include 'scripts.html' %}
    <!--main js file end-->
</div>
</body>
</html>