{% load static %}
<!-- footer start -->
<footer id="footer_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <aside class="widget widget_text">
                    <a href="https://github.com/Brainy-Fools/" target="_blank"><img
                            src="{% static 'images/logo_transparent2.png' %}" alt="footer logo"></a>
                    {#                    <p>In 2015, We launched Travellers with the belief that other travellers would share our#}
                    {#                        desire to experience authentic adventures in a responsible and sustainable manner. <br>#}
                    {#                        <br> We've grown from a one-man show to a company of over 50 world wide, and from a#}
                    {#                        handful of trips in all over the world. </p>#}
                    {#                    <a href="">Read More <i class="fa fa-angle-right"></i></a>#}
                </aside>
            </div>
            <div class="col-md-4">
                <aside class="widget widget_links">
                    <h4 class="widget-title">Useful Links</h4>
                    <ul>
                        <li><a href="{% url 'booking' %}">Home</a></li>
                        <li><a href="{% url 'booking' %}">Ticket Booking</a></li>
                        <li><a href="{% url 'booking-details' %}">Booking Details</a></li>
                        <li><a href="{% url 'coming_soon' %}">Special Offers</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                        <li><a href="">Something Awesome</a></li>
                    </ul>
                </aside>
                <aside class="widget widget_tag_cloud">
                    <h4 class="widget-title">Tags</h4>
                    <div class="tagcloud">
                        <a target="_blank" href="">Travel</a>
                        <a target="_blank" href="">Booking</a>
                        <a target="_blank" href="">Ticket</a>
                        <a target="_blank" href="">Railway</a>
                        <a target="_blank" href="">Trains</a>
                        <a target="_blank" href="">Chill Life</a>
                    </div>
                </aside>
            </div>
            <div class="col-md-4">
                <aside class="widget widget_search_availability">
                    <div id="widget_Train_search" class="wsa_tab_content">
                        <form>
                            <div class="travel_form_element">
                                <label>Train Type</label>
                                <select class="selectpicker" title="Train Type">
                                    <option data-tokens="Business">Business</option>
                                    <option data-tokens="Economy">Economy</option>
                                    <option data-tokens="First Class">First Class</option>
                                    <option data-tokens="Premium">Premium</option>
                                </select>
                            </div>
                            <div class="travel_form_element">
                                <label>Train Name</label>
                                <select class="selectpicker" title="Train Name">
                                    <option data-tokens="Major Airlines (350)">Major Airlines (350)</option>
                                </select>
                            </div>
                            <div class="travel_form_element">
                                <label>Travel From</label>
                                <select class="selectpicker" data-live-search="true" title="From">
                                    <option data-tokens="New Delhi, India (DEL)">New Delhi, India (DEL)</option>
                                </select>
                            </div>
                            <div class="travel_form_element">
                                <label>Travel Destination</label>
                                <select class="selectpicker" data-live-search="true" title="To">
                                    <option data-tokens="New Delhi, India (DEL)">New Delhi, India (DEL)</option>
                                </select>
                            </div>
                            <div class="travel_form_element">
                                <label>Train Times</label>
                                <select class="selectpicker" title="Train Times">
                                    <option data-tokens="5am to 7am">5am to 7am</option>
                                </select>
                            </div>
                            <div class="travel_form_element">
                                <button type="submit" class="btn-travel btn-yellow">Search</button>
                            </div>
                        </form>
                    </div>
                </aside>
                <aside class="widget payment_method">
                    <h4 class="widget-title">Supported Payment Method</h4>
                    <a href=""><img src="{% static 'images/Payment-Images.png' %}" alt="Payment Method"/></a>
                </aside>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6"><span>Stay Connected with Us - </span>
                <a class="text-white" target="_blank" href="https://github.com/Brainy-Fools/"><i
                        class="fa fa-github"></i></a>
                <a class="text-white" target="_blank" href=""><i class="fa fa-facebook"></i></a>
                <a class="text-white" target="_blank" href=""><i class="fa fa-twitter"></i></a>
                <a class="text-white" target="_blank" href=""><i class="fa fa-google-plus"></i></a>
                <a class="text-white" target="_blank" href=""><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="col-md-6 col-sm-6 text-right"><span> <a class="text-white"
                                                                href="https://github.com/Brainy-Fools/" target="_blank">Brainy Fools @{% now 'Y ' %}.</a> All Right Reserved</span>
            </div>
        </div>
    </div>
</div>