{% load static %}
<header id="header_wrapper">
    <div class="header_top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p><i class="fa fa-phone"></i> For Support? Call Toll free Hot line: <span>333</span></p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="top_menu">
                        <ul>
                            <li><a href=""><i class="fa fa-globe"></i> Languages</a>
                                <ul class="sub-menu">
                                    <li><a href="">English</a></li>
                                    <li><a href="">Bangla</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'admin:index' %}">DashBoard for admin</a></li>
                            <li class="Travelite_login_alert"><a href="#">Log-In</a></li>
                            <li class="Travelite_signup_alert"><a href="#">Sign-Up</a></li>
                            <li><a href="">Taka</a>
                                <ul class="sub-menu">
                                    <li><a href="">TAKA</a></li>
                                    <li><a href="">USD</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popup form Start -->
    <div class="full_width login_wrapper">
        <div class="row">
            <div class="container">
                <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-6 col-md-offset-6 col-sm-offset-6">
                    <!-- login form start -->
                    <div class="popup_alert_main Travelite_login_form">
                        <div class="login_heading"> login <span class="close_btn"><i class="fa fa-times"></i></span>
                        </div>
                        <div class="popup_inner">
                            <form>
                                {% csrf_token %}
                                <input type="email" name="emaillogin" placeholder="Email Id" class="input_login">
                                <input type="password" name="passlogin" placeholder="Password" class="input_login">
                                <input type="checkbox" id="login_check" name="checkbox" class="checkbox_login">
{#                                <label for="login_check" class="remember_me">Remember me</label>#}
                                <a href="#" class="forgot_link">Forget password?</a>
                            </form>
{#                            <div class="have_an_acnt">#}
{#                                <p>Don't have an account? <a href="#">Sign up</a></p>#}
{#                            </div>#}
                            <div class="or_line"><span>(OR)</span></div>
                            <div class="social_links_login">
                                <ul>
                                    <li class="facebook_login"><a href="#"><i class="fab fa-github"></i>Login with
                                        Github</a></li>
                                    <li class="gplus_login"><a href="#"><i class="fa fa-google-plus"></i>Login with
                                        Google+</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- login form  End -->
                    <!-- signup form start -->
                    <div class="popup_alert_main Travelite_signup_form">
                        <div class="login_heading"> signup <span class="close_btn"><i
                                class="fa fa-times"></i></span></div>
                        <div class="popup_inner">
                            <form class="signup_form" method="post">
                                {% csrf_token %}
{#                                <input type="text" name="emaillogin" placeholder="Your Name" class="input_login">#}
{#                                <input type="text" name="emaillogin" placeholder="Last Name" class="input_login">#}
                                <input type="email" name="emaillogin" placeholder="Email Id" class="input_login">
                                <input type="password" name="passlogin" placeholder="Password" class="input_login">
                                <input type="password" name="conf passlogin" placeholder="Confirm Password"
                                       class="input_login">
                                <input type="checkbox" id="signup_check" name="checkbox" class="checkbox_login" checked disabled>
                                <label for="signup_check" class="remember_me">I agree the Terms of Service and Privacy
                                    Policy</label>
                                <input type="submit" value="SIGN UP" class="sub_signup">
                            </form>
                            <div class="or_line"><span>(OR)</span></div>
                            <div class="social_links_login">
                                <ul>
                                    <li class="gplus_login"><a href="#"><i class="fa fa-google-plus"></i>SignUp with
                                        Google+</a></li>
                                </ul>
                            </div>
                            <div class="already_member"> already member? Then login please.</div>
                        </div>
                    </div>
                    <!-- signup form  End -->
                </div>
            </div>
        </div>
    </div>
    <!-- popup form  End -->
    <div class="header_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <div class="travel_logo">
                        <a href="{% url 'booking' %}"><img height="90px" src="{% static 'images/logo_transparent.png' %}" alt="logo"/></a>
                    </div>
                </div>
                <div class="col-md-10 col-sm-10"><a href="javascript:;" class="menu-toggle"></a>
                    <div class="main_menu">
                        <ul>
                            <li><a href="{% url 'booking' %}">Home</a></li>
                            <li><a href="http://www.railway.gov.bd/" target="_blank">Bangladesh Rail</a></li>
                            <li><a href="">Schedule</a></li>
                            <li><a href="{% url 'booking-details' %}">Rail E-Booking</a></li>
                            <li><a href="{% url 'coming_soon' %}">special offers</a></li>
                            <li><a href="{% url 'contact_us' %}">contact</a></li>
                            <li><a href="{% url 'about_us' %}">About</a></li>
{#                            <li><a href="#">pages</a>#}
{#                                <ul class="sub-menu">#}
{#                                    <li><a href="{% url 'about_us' %}">About</a></li>#}
{#                                    <li><a href="Services.html">services</a></li>#}
{#                                    <li><a href="Blog.html">blog</a></li>#}
{#                                </ul>#}
{#                            </li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>