{% load static %}
<script type="text/javascript" src="{% static '/js/jquery-1.11.3.js' %}"></script>
<script type="text/javascript" src="{% static '/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static '/js/bootstrap-select.js' %}"></script>
<script type="text/javascript" src="{% static '/js/plugin/datetimepicker/jquery.datetimepicker.js' %}"></script>
<script type="text/javascript" src="{% static '/js/plugin/parallax/jquery.parallax-1.1.3.js' %}"></script>
<script type="text/javascript" src="{% static '/js/plugin/owl/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static '/js/plugin/isotope/jquery.isotope.js' %}"></script>
<script type="text/javascript" src="{% static '/js/plugin/bxslider/jquery-bxslider.js' %}"></script>
<!-- pie chart js -->
<script type="text/javascript" src="{% static 'js/plugin/pie-circle/circles.js' %}"></script>
<!-- pie chart js -->
<!--counter js-->
<script type="text/javascript" src="{% static '/js/plugin/counter/jquery.countTo.js' %}"></script>
<!--counter js-->
<script type="text/javascript" src="{% static '/js/plugin/counter/jquery.countdown.js' %}"></script>
<!-- REVOLUTION JS FILES -->
<script type="text/javascript"
        src="{% static '/js/plugin/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript"
        src="{% static '/js/plugin/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript"
        src="{% static '/js/plugin/revolution/js/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript"
        src="{% static '/js/plugin/revolution/js/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript"
        src="{% static '/js/plugin/revolution/js/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript"
        src="{% static '/js/plugin/revolution/js/revolution.extension.actions.min.js' %}"></script>
<script type="text/javascript"
        src="{% static '/js/plugin/revolution/js/revolution.extension.parallax.min.js' %}"></script>
<!-- REVOLUTION JS FiLES -->
<!-- video_popup -->
<script type="text/javascript" src="{% static '/js/plugin/video-popup/jquery.magnific-popup.js' %}"></script>
<!-- video_popup -->
<!-- slick slider -->
<script type="text/javascript" src="{% static '/js/plugin/slick/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/plugin/slick/slick.min.js' %}"></script>
<!-- slick slider -->
<!-- video player js -->
<script src="{% static '/js/plugin/video_player/mediaelement-and-player.min.js' %}"></script>
<!-- video player js -->
<!-- pricefilter -->
<script src="{% static '/js/plugin/jquery-ui/jquery-ui.js' %}"></script>
<!-- pricefilter-->
<script type="text/javascript" src="{% static '/js/custom.js' %}"></script>