{% extends '.\base.html' %}

{% block title %}Home{% endblock title %}

{% block head_css_page %}
<!--for custom-css-page-->
{% endblock head_css_page %}

<!--{% block header_nav_bar %}-->
<!--{% include 'headBar.html' %}-->
<!--{% endblock header_nav_bar %}-->

{% block sidebar_nav_bar %}
<aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
    <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
        <div class="collapse navbar-collapse ">
            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                <li class="nav-item">
                    <a class="nav-link pl-0 text-nowrap" href="#"><i class="fas fa-train"></i> <span
                            class="font-weight-bold">Brand</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-book fa-fw"></i> <span
                            class="d-none d-md-inline">Link</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-cog fa-fw"></i> <span
                            class="d-none d-md-inline">Link</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-heart codeply fa-fw"></i> <span
                            class="d-none d-md-inline">Codeply</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-star codeply fa-fw"></i> <span
                            class="d-none d-md-inline">Link</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-star fa-fw"></i> <span
                            class="d-none d-md-inline">Link</span></a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
{% endblock sidebar_nav_bar %}

{% block main_content %}
<h2>Tooth pain is real pain</h2>
{% endblock main_content %}